[submodule "juliaPackages/juliaPackages"]
	path = juliaPackages/juliaPackages
	url = https://github.com/JuliaNLSolvers/LsqFit.jl.git
[submodule "juliaPackages/LsqFit.jl"]
	path = src/juliaPackages/LsqFit.jl
	url = https://github.com/JuliaNLSolvers/LsqFit.jl.git
[submodule "juliaPackages/StatsBase.jl"]
	path = src/juliaPackages/StatsBase.jl
	url = https://github.com/JuliaStats/StatsBase.jl.git
[submodule "src/juliaPackages/Optim.jl"]
	path = src/juliaPackages/Optim.jl
	url = https://github.com/JuliaNLSolvers/Optim.jl.git
